@charset "UTF-8";

html {
    font-family: 'Nanum Gothic', sans-serif;
}

button {
    height: 5%;
    width: 6%;
}

.iw_inner h2{
    font-size: 50px;
}

.iw_inner p{
    font-size: 40px;
}
.select_class {
    height: 5%;
    font-size: 1.5vw;
}

#sido_code {
    width: 40%;
}

#sigoon_code {
    width: 20%;
}