@charset "UTF-8";

html {
    font-family: 'Nanum Gothic', sans-serif;
    background-color: black;
    
}

.iw_inner{
    padding: 10px;
    color: white;
}

.iw_inner h2{
    font-size: 3vh;
}

.iw_inner a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

.iw_inner p{
    font-size: 1.5vh;
}

.select_class {
    height: 5%;
    padding: 10px;
    font-size: 1.5vh;
    background-color: black;
    color: white;
}

button {
    height: 5%;
    width: 20%;
    font-size: 1.5vh;
}

#sido_code {
    width: 50%;
}

#sigoon_code {
    width: 25%;
}