@charset "UTF-8";

html {
    font-family: 'Nanum Gothic', sans-serif;
    background-color: black;
    
}

.iw_inner{
    padding: 10px;
    font-size: 1.5vh;
    
}


.iw_inner a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

.iw_inner p{
    font-size: 1.5vh;
}

.iw_inner_div{
    padding: 3px;
    height: 3vh;
    display: flex;
    align-items: center;
    border-bottom: 1px solid gray;
}

.iw_inner_duty{
    padding: 3px;
}

.div_inner_duty{
    padding: 2px;
}

.ico_span{
    margin-right: 4px;
}

.select_class {
    height: 5%;
    padding: 10px;
    border-radius: 8px;
    margin-right: 1%;
    font-size: 1.5vh;
    background-color: rgb(41, 41, 41);
    color: white;
}

button {
    height: 5%;
    width: 22%;
    font-size: 1.5vh;
}

/* CSS */
.button-1 {
  background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  /* font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif; */
  /* font-size: 14px; */
  font-weight: 500;
  /* height: 40px; */
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-1:hover,
.button-1:focus {
  background-color: #F082AC;
}

#sido_code {
    width: 50%;
}

#sigoon_code {
    width: 25%;
}